<ul>
	<li id="right_side_menu">
		<h2>What to do?</h2>
		<ul>
		  <li><%= link_to "Register", new_account_path %></li>
		  <li><%= link_to "Log In", new_user_session_path %></li>
		  <li><%= link_to "Forgot password", new_password_reset_path %></li>
		</ul>
	</li>
</ul>
